## All generated values will be multiples of this
multiplier = 5

## Lower Boundaries for regular Stats
regStat_veryLow  =  5
regStat_low	     = 20
regStat_average  = 40
regStat_high     = 60
regStat_veryHigh = 80
regStat_max      = 99

## Lower boundaries for Beauty
unattractive = 100
plain        = 200
normal       = 300
pretty       = 400
beautiful    = 550
stunning     = 700
perfect      = 800
divine       = 900
beauty_max   = 999

## Points to where the Info.xml chooser starts
chooser_default_directory = default

## Determines behaviour for loading of files where stats are higher than the max value
always_scale = true
never_scale  = false

hired_staff_default_salary = 500

## Configures how many regular CombatClasses can be selected via this tool (0-3)
maximum_regular_combatclasses = 3

## source code: https://github.com/hakunasoftware/simple-character-builder