## This is a shared property file for the StatBalancer and the CharacterBuilder tools

## Points to where the Info.xml chooser starts ("default" for desktop) [StatBalancer]
chooser_default_directory = default

## Path to the XML to which equipment is written ("default" for character specific files) [CharacterBuilder]
equipment_target_xml = default

## All generated values will be multiples of this
multiplier = 5

## Lower Boundaries for regular Stats
regStat_veryLow  =  5
regStat_low	     = 20
regStat_average  = 40
regStat_high     = 60
regStat_veryHigh = 80
regStat_max      = 99

## Lower boundaries for Beauty
unattractive = 100
plain        = 200
normal       = 300
pretty       = 400
beautiful    = 550
stunning     = 700
perfect      = 800
divine       = 900
beauty_max   = 999

## Determines behaviour for loading of files where stats are higher than the max value
always_scale = true
never_scale  = false

hired_staff_default_salary = 500
equipment_price = 50

## Configures how many regular CombatClasses can be selected via this tool (0-3)
maximum_regular_combatclasses = 3

## EquipTypes that won't show up in the tool (separated by comma)
ignored_equiptypes = Shield, Ring, Jewel

## source code: https://github.com/hakunasoftware/simple-character-builder