## This config-file contains paths to game files to be used across all files to make changing paths easier
## The paths of the files must be relative to the root of the game folder (where the SB2R.exe is):
game_root = [ADD LOCAL GAME FOLDER PATH HERE]

## Game Folders
actors_folder = Data/Battlers/Actors


## Files
body_types = Data/Lists/Battlers/BodyTypes.txt
races = Data/Lists/Categories/Races.txt
draw_indices = Data/Lists/Equipment/DrawIndices.txt
retractable_bodyparts = Data/Battlers/Body Parts/Common Retractable.xml
non_retractable_bodyparts = Data/Battlers/Body Parts/Common Non-Retractable.xml