## This config-file contains paths to game files to be used across all tools to make changing paths easier
## The paths of the files must be relative to the root of the game folder (where the SB2R.exe is):
game_root = [ADD LOCAL GAME FOLDER PATH HERE]

## Game Folders
actors_folder = Data/Battlers/Actors
regular_combat_classes = Data/Skills/Combat Classes/3 Regular Classes
traitfolder_background = Data/Brothel/Traits/Background
traitfolder_personality = Data/Brothel/Traits/Personality
traitfolder_physical = Data/Brothel/Traits/Physical
equiptypes = Data/Equipment/Types/Equipment

## Files
actors_list = Data/Lists/Battlers/Actors.txt
body_types = Data/Lists/Battlers/BodyTypes.txt
races = Data/Lists/Categories/Races.txt
draw_indices = Data/Lists/Equipment/DrawIndices.txt
retractable_bodyparts = Data/Battlers/Body Parts/Common Retractable.xml
non_retractable_bodyparts = Data/Battlers/Body Parts/Common Non-Retractable.xml
common_behaviors = Data/Other/Social/Behaviors/Common.xml
equipment_list = Data/Lists/Equipment/Equipment.txt